<a href="https://colab.research.google.com/github/sangeun0/Learning-python/blob/main/4_1_practice_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 문제 1.(for)
## for 문을 이용하여 1부터 입력받은 정수까지의 합을 구하여 출력하는 프로그램을 작성하시오.
- 100 이하의 양의 정수만 입력된다. 
- 입력 예: 10
- 출력 예: 55

In [ ]:
number= int(input("enter the number"))
sum=0

for x in range(1, number+1) :
  #범위:1부터 입력값까지
  sum= sum+x

print( sum )

enter the number10
55

# 문제 2.
## 정수를 계속 입력받다가 100 이상의 수가 입력이 되면 마지막 입력된 수를 포함하여 합계와 평균을 출력하는 프로그램을 작성하시오.

- 평균은 반올림하여 소수 첫째자리까지 출력한다.

In [ ]:
sum=0
count=0
number=0


while number<100 :
  number=int(input( "enter the number"))
  count=count+1
  print(number)
  print(count)
  #number값, count값 출력
  sum= sum+number
  #number값 100과 같거나 클 때 input출력 멈춤
  if number>=100 :
    ave= sum/count

print(round(sum,1),round(ave,1))

enter the number10
10
1
enter the number10
10
2
enter the number100
100
3
120 40.0

# 문제 3.
## 정수를 입력받아서 3의 배수가 아닌 경우에는 아무 작업도 하지 않고, 3의 배수인 경우에는 3으로 나눈몫을 출력하는 작업을 반복하다가 -1이 입력되면 종료하는 프로그램을 작성하시오.
예시:
- 5
- 12 
- <h2>4</h2>
- 21
- <h2>7</h2>
- 100
- -1

In [ ]:
number=0
while number>=0:
  number= int(input( "enter the number: " ))
  #number가 음수일때 종료
  if number<0:
    break
  #Number/3할 때 나머지 0일 때= 3의 배수일 때
  if number%3==0:
    #number의 몫 출력
    result= number//3
    print(result)
  else:
    #3의 배수 아닐 때 아무 작업도 하지 않고 건너뜀
    continue

enter the number: 9
3
enter the number: 1
enter the number: -1

# 보너스(for)
## 아래와 같은 모양으로 출력하는 프로그램을 작성하시오.
 - 사용자에게 숫자를 입력받아 입력 받은 높이 만큼의 삼각형을 출력하시오.
 - 입력 예: 5

In [ ]:
    *
   **
  ***
 ****
*****

In [ ]:
number= int(input( "enter the number:" ))

#범위설정
for x in range(1,number+1):
  #공백= 입력값-x
  #* = x값
  
  print(" "*(number-x),"*"*x)

enter the number:5
     *
    **
   ***
  ****
 *****

In [ ]:
i=0
number= int(input( "enter the number: " ))
while i<number:

# 문제 4. 
## 아래와 같이 나라 이름을 출력하고 숫자를 입력받아 해당하는 나라의 수도를 출력하는 작업을 반복하다가 해당하는 번호 이외의 숫자가 입력되면 "none"라고 출력한 후 종료하는 프로그램을 작성하시오.

* 각 나라의 수도 : 
- 대한민국 = 서울(Seoul)
- 미국 = 워싱턴(Washington)
- 일본 = 동경(Tokyo)
- 중국 = 북경(Beijing)

예시
입력 예:
1. Korea
2. USA
3. Japan
4. China
number? 1

출력 예:
Seoul

1. Korea
2. USA
3. Japan
4. China
number? 5

none

In [ ]:
capital = ["none","seoul", "washington", "tokyo", "beijing"] #수도 리스트
country=["1.korea","2.usa","3.japan","4.china"] 

for i in country:
  print(country[0])
  print(country[1])
  print(country[2])
  print(country[3])
  
  number= input(" number? ")
  if 0<int(number) and int(number)<= 4:
    print(capital[int(number)])
    continue
  else:
    print("none")
    break

1.korea
2.usa
3.japan
4.china
 number? 2
washington
1.korea
2.usa
3.japan
4.china

# 문제 5.
## 0 이상의 정수들이 공백으로 구분되어 반복적으로 주어진다. 0이 입력되면 반복문을 멈추고 그 전까지 입력받은 수들에 대하여 홀수의 개수와 짝수의 개수를 출력하는 프로그램을 작성하시오.
- 입력 예: 9 7 10 5 33 65 0
- 출력 예: 
 odd : 5
 even : 1

In [ ]:
odd=0
even=0

while True:
  number= input( "enter the number: " )
#정수 입력
  if int(number) ==0 :
    break
#0이 입력되면 루프 멈춤
  if int(number)%2 == 1 : 
      odd=odd+1  #홀수

  if int(number)%2 == 0 : #해당 조건에 0 포함되지 않도록 number=0인 조건은 맨 위로
      even=even+1 #짝수



print("odd:", odd , "even:", even)

enter the number: 2
enter the number: 3
enter the number: 4
enter the number: 5
enter the number: 0
odd: 2 even: 2

# 문제 6.
## 삼각형의 밑변의 길이와 높이를 입력받아 넓이를 출력하고, "Continue? "에서 하나의 문자를 입력받아 그 문자가 'Y' 나 'y' 이면 작업을 반복하고 다른 문자이면 종료하는 프로그램을 작성하시오.

- 넓이는 반올림하여 소수 첫째자리까지 출력한다.
예시
###### Base = 11
###### Height = 5
###### Triangle width = 27.5
###### Continue? Y
###### Base = 10
###### Height = 10
###### Triangle width = 50.0
###### Continue? N

In [ ]:
base= input( "enter the base: " )
height= input( "enter the height: ")
answering= "yY"


for x in base:
  for y in height:
    print("Triangle width=", int(base)*int(height) )

answer= input( "continue?" )
for z in answer:
  if z in answering:
    continue
  else:
    break

NameError: ignored

# 문제 7.(for)
## 100 이하의 두 개의 정수를 입력받아 작은 수부터 큰 수까지 차례대로 출력하는 프로그램을 작성하시오.
- 입력 예: 5 10
- 출력 예: 5 6 7 8 9 10

In [ ]:
#숫자 두개 입력받기
number1= input("enter the number1: ")
number2= input("enter the number2: ")

for x in range( int(number1), int(number2)+1 ):
  print(x)
for y in range( int(number2), int(number1)+1 ):
  print(y)

enter the number1: 20
enter the number2: 30
20
21
22
23
24
25
26
27
28
29
30

# 문제 8.(for)
## 두 개의 정수를 입력받아 두 정수 사이(두 정수를 포함)에 3의 배수이거나 5의 배수인 수들의 합과 평균을 출력하는 프로그램을 작성하시오.
- 평균은 반올림하여 소수 첫째자리까지 출력한다.
- 입력 예: 10 15
- 출력 예: 
sum : 37
avg : 12.3

In [ ]:
#숫자 두개 입력받기
number1= input("enter the number1: ")
number2= input("enter the number2: ")

sum=0
count=0

#number1부터 number2까지 범위지정
for x in range( int(number1), int(number2)+1): #number2포함위해 +1
  if x%3==0 or x%5==0 : #조건지정:3의배수, 5의배수 
    count=count+1 #루프 횟수로 count지정
    sum= sum+x
    avg= sum/count
  
print(sum)
print(round(avg,1))

enter the number1: 10
enter the number2: 15
37
12.3

# 문제 9. (for)
## 2부터 9까지의 수 중 2개를 입력받아 입력받은 수 사이의 구구단을 출력하는 프로그램을 작성하시오.
- 단 반드시 먼저 입력된 수의 구구단부터 아래의 형식에 맞게 출력하여야 한다.
- 구구단 사이의 공백은 3칸이다.
- 입력 예: 5 3
- 출력 예:
5 * 1 =  5   4 * 1 =  4   3 * 1 =  3
5 * 2 = 10   4 * 2 =  8   3 * 2 =  6
5 * 3 = 15   4 * 3 = 12   3 * 3 =  9
5 * 4 = 20   4 * 4 = 16   3 * 4 = 12
5 * 5 = 25   4 * 5 = 20   3 * 5 = 15
5 * 6 = 30   4 * 6 = 24   3 * 6 = 18
5 * 7 = 35   4 * 7 = 28   3 * 7 = 21
5 * 8 = 40   4 * 8 = 32   3 * 8 = 24
5 * 9 = 45   4 * 9 = 36   3 * 9 = 27

In [ ]:
#숫자 입력받기
number1= int(input("enter the number1: "))
number2= int(input("enter the number2: "))

#number1과 number2사이의 수 number3 범위 지정
number3= 23456789

#구구단 의 몫 i값 범위 지정
for i in range(0,9):
  i= i+1
  multiple1= number1*i
  multiple2= number2*i
  for number3 in range(int(number1),int(number2)) or range(int(number2), int(number1)): #number1,2크기에 따라 오류나지 않게 이중범위 지정
    multiple3= number3*i
  print(number1,"*",i,"=",multiple1,"   ",number3,"*",i,"=",multiple3,"   ",number2,"*",i,"=",multiple2)

enter the number1: 5
enter the number2: 3
5 * 1 = 5     4 * 1 = 4     3 * 1 = 3
5 * 2 = 10     4 * 2 = 8     3 * 2 = 6
5 * 3 = 15     4 * 3 = 12     3 * 3 = 9
5 * 4 = 20     4 * 4 = 16     3 * 4 = 12
5 * 5 = 25     4 * 5 = 20     3 * 5 = 15
5 * 6 = 30     4 * 6 = 24     3 * 6 = 18
5 * 7 = 35     4 * 7 = 28     3 * 7 = 21
5 * 8 = 40     4 * 8 = 32     3 * 8 = 24
5 * 9 = 45     4 * 9 = 36     3 * 9 = 27

enter the number1: 3
enter the number2: 6

TypeError: ignored

# 보너스2 (for)
## 아래와 같은 모양으로 출력하는 프로그램을 작성하시오.
 - 사용자에게 숫자를 입력받아 입력 받은 높이 만큼의 삼각형을 출력하시오.
 - 입력 예: 5

In [ ]:
*****
 ****
  ***
   **
    *

In [ ]:
number= int(input( "enter the number:" ))
x=0
#범위설정
for x in range(number,0,-1):
  #공백= 입력값-x
  #* = x값
  print(" "*(number-x),"*"*x)

enter the number:10
 **********
  *********
   ********
    *******
     ******
      *****
       ****
        ***
         **
          *

In [ ]:
number= int(input( "enter the number:" ))
x=0
#범위설정
for x in range(0,number):
  #공백= x값
  #* = 입력값-x
  print(" "*x,"*"*(number-x))

enter the number:5
 *****
  ****
   ***
    **
     *